.venv/
__pycache__/
*.py[cod]
.env

logs/
outputs/
dataset/
data/raw/
data/questions/
data/metadata/
processed_data/documents/
processed_data/chunks/
processed_data/indexes/
processed_data/metadata/
processed_data/markdown/

.pytest_cache/
.ruff_cache/

*.zip
